.favorites-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .favorites-content {
    flex: 1;
    padding: 20px;
  }
  .title1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .no-favorites-message {
    text-align: center;
    font-size: 1.2em;
    color: #666;
    margin-top: 50px;
  }