  .home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.spinner1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px); /* Adjust height to center the spinner */
}
